@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  padding: 8px;
  justify-content: space-between;
  background-color: white;

}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 90px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color:black;
 color: white
  
}




.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    background-color: white;
    display: none;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
}

.phone{
   float: right;
}
@media only screen and (max-width: 900px) {
    .maximum{
   display: none;
    }
  }
  .navsec{
    color:white;
    font-size: 18px;
   padding: 10px;
  }
  @media only screen and (max-width: 800px) {
    .maximumtwo{
   display: none;
    }
  }


.three{
  height: 600px;
}
.three{
  filter: brightness(0.4);

}
.btnhov{
  border: 1px solid white;
  color: white;
 }
 .btnhov:hover{
 background-color: white;
 color: black;
 }
 .btnhovv{
  border: 1px solid white;
  color: white;
 }
 .btnhovv:hover{
 background-color: white;
 color: black;
 }
 .threethree{
font-size: 2rem;
font-family: sans-serif;
margin-left: 50px;
color:white;
margin-top:140px ;
line-height: 50px;
font-weight: 700;
 }
 @media only screen and (max-width: 900px) {
  .threethree{
 margin-top: 60px;

  }
}
.btnhov{
  margin-top: 190px;
 
}
@media only screen and (max-width: 900px) {
  .btnhov{
 margin-top: 60px;

  }
}
.btnhovv{
  margin-top: 190px;
}

@media only screen and (max-width: 900px) {
  .btnhovv{
 margin-top: 60px;
margin-left: 130px;
  }
}
.two{
  text-align: center;
  font-size:1.4rem;
}
@media only screen and (max-width: 900px) {
  .two{
font-size: 1.2rem;
  }
}
@media only screen and (max-width: 900px) {
  .three{
height: 400px;
  }
}
.hovera,.hoveraone{

margin-right:80px ;
text-decoration: none;
} 
@media only screen and (min-width: 1400px) {
  .hovera,.hoveraone{
margin-right: 80px;
  }
}

.hoveraone{
  margin-left:150px ;
}
@media only screen and (max-width: 1400px) {
  .hovera,.hoveraone{
margin-right: 40px;
  }
}
@media only screen and (max-width: 1400px) {
.hoveraone{
margin-left: 40px;
  }
}


@media only screen and (max-width: 1200px) {
  .hovera,.hoveraone{
margin-right: 20px;
  }
}
@media only screen and (max-width: 1200px) {
.hoveraone{
margin-left: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .maximum{
 font-size: 12px;
    }
  }
  .btnhov{
    width: 170px;
  }
  @media only screen and (max-width: 1200px) {
    .btnhov{
 width: 130px;
      }
    }
    .btnhovv{
      width: 170px;
    }
    @media only screen and (max-width: 1200px) {
      .btnhovv{
   width: 130px;
        }
      }
      .sss:hover{
        transform: scale(1.1);
   
}

